

.table-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.table-head {
  background-color: #64b5f6;
}

.table-row {
  transition: background-color 0.3s ease;
}

.table-row.dark-mode-row {
  background-color: #333;
  color: white;
}

.table-row.dark-mode-row:hover {
  background-color: #444;
}

@media (max-width: 768px) {
  .table-container {
    width: 100%;
  }
}
